body {
    padding: 10px;
}

.container {
    margin: auto;
}

/* ...Header */

.header {
    margin: auto;
    width: max-content;
    padding: 10px 20px;
    background-color: #e50914;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

/* ...Search */

.search {
    display: block;
    margin: 15px auto;
    border: 1px solid red;
    padding: 10px;
    border-radius: 20px;
    text-align: center;   
}

/* ...Content */

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.content img {
    display: block;
    width: 200px;
    object-fit: cover;
}



