* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.App {
    width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.App .singleMovie {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 15px;
    background-color: lightgoldenrodyellow;
    box-shadow: 1px 1px 3px lightslategray;
}
.App .singleMovie h3,
.App .singleMovie img {
    margin: auto;
    padding: 5px 10px;

}
.App .singleMovie p {
    text-align: justify;
    padding: 10px;
}
.App .singleMovie button {
    padding: 5px 10px;
    width: max-content;
    margin: auto;
    margin-bottom: 8px;
    box-shadow: 1px 1px 3px lightslategray;
}
